/* Style global */
    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }

    h1 {
        text-align: center;
        margin: 15px 0;
        color: #2a6914;
        font-family: 'Comfortaa', cursive;
        font-size: 32px;
    }

    h3 {
        color: #2a6914;
        font-family: 'Comfortaa', cursive;
        font-size: 22px;
    }

    header {
        margin-bottom: 20px;
    }
    

    /* sizing */
        .mw-1320 {
            max-width: 1320px;
        }

    /* font style */
        .fs-comfortaa {font-family: 'Comfortaa', cursive;}
        .fs-roboto {font-family: 'Roboto', sans-serif;}


/* Style header */

    header {
        background-color: #542913;
        padding: 10px;
    }
    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
    }
    
    #logo {
        height: 2.2em;
        margin-right: 5px;
    }

    nav {
        display: flex;
        padding: 0.5em;
    }
    
    /* Style link */

        .Nav__link {
            color: white;
            padding: 14px;
            font-size: 14px;
            text-decoration : none;
            border-radius: 10px;
        }

        .Nav__dropArrow {
            width: 20px;
            margin: -5px;
        }

        .Nav__link:hover {background-color: #421f0f;}

    /* Style nav left */
        .nav-right {
            display: flex;
            justify-content: space-between;
            flex-shrink: 1;
            flex-grow: 1;
            flex-basis: 270px;
        }
        
        /* Style searchbar */
            .searchBar {
                border-radius: 15px;
                padding-left: 15px;
                width: 200px;
                height: 20px;
                transition: 0.5s;
                margin: 10px;
            }
        
            .search-logo {width: 10px;}
            
            /* .searchBar:hover {
                width: 400px;
                height: 25px;
            } */

        /* Style user icon */
            .nav-right__user-icon {
                width: 20px;
                margin: 10px;
            }

            .nav-right__user-icon__contener {
                border-radius: 10px;
            }
    
            .nav-right__user-icon__contener:hover {
                background-color: #421f0f;
            }
    

    /* Style dropdown menu */
        .Nav__dropdown {
            position: relative;
            display: inline-block;
            padding: 10.5px 14px;
            border-radius: 10px;
        }

        .Nav__dropbtn {
            font-size: 14px;
            color: white;
            text-decoration : none;
        }

        .Nav__dropdown-content {
            display: none;
            position: absolute;
            background-color: #2a6914;
            border-radius: 10px;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left: 0;
            top: 45px;
          }

          .Nav__dropdown-content a {
            color: rgb(255, 255, 255);
            font-size: 14px;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            margin: 0;
          }

        .Nav__dropdown-content a:hover {
            background-color: #245a11;
            border-radius: 10px;
        }
        .Nav__dropdown:hover .Nav__dropdown-content {display: block;}

        .Nav__dropdown:hover {background-color: #421f0f;}

/* Style main */
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .article__contener {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /* Style article card */
        article {
            flex-basis: 400px;
            flex-shrink: 1;
            flex-grow: 1;
            border-radius: 5px;
            box-shadow: 2px 2px 4px #9d9d9d;
            margin: 10px;
        }
        
        .article__img {
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            transition: .5s ease;
        }

        .Article__badge {
            background-color: #2a6914;
            color: white;
            position: absolute;
            border-radius: 15px;
            font-size: 14px;
            font-weight: bold;
            margin: 10px;
            padding: 3px 7px;
            z-index: 1;
        }

        .article__badge-contener {
            display: flex;
            justify-content: flex-end;
        }

        .star {width: 20px;}

        .article__note {
            display: flex;
            margin: 5px 0px;
        }

        .article__txt {padding: 5px 10px;}

        .article__linkMore a {color: #2a6914;}

        .article__linkMore {text-align: end;}

        /* Style hover img */
            .article__hover-icon {
                width: 30px;
                position: absolute;
                opacity: 0;
                transition: .5s ease;
            }

            .article__hover-contener {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .article__hover-contener:hover .article__hover-icon {opacity: 1;}
              
            .article__hover-contener:hover .article__img {opacity: 0.6;}

            .article__hover-contener:hover {cursor: pointer;}

/* Style footer */
    .footer__img {
        background-image: url(/Assets/Image/cooking.svg);
        height: 20vw;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        margin-bottom: -4px;
    }

    .footer__Part1,
    .footer__Part2,
    .footer__Part3 {
        width: 270px;
        margin: 15px 0;
    }

    .footer__Info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
        background-color: #542913;
        color: white;
        padding: 1em;
    }

    /* Style footer Part1 */
        .footer__Part1 a {
            color: white;
            font-size: 12px;
        }
    
    /* Style footer Part2 */
        .footer__Part2 {text-align: center;}

        .footer__social-icon {width: 10%;}

    /* Style footer Part3 */
        #input__email {
            width: 100%;
            border-radius: 15px;
        }

        .input__name {font-size: 12px;}

        .footer__checkmark-container {font-size: 12px;}

    /* Style footer end */
    .footer__End {
        background-color: #542913;
        padding: 1em;
        border-top: 1px solid rgba(165, 165, 165, 0.558);
    }

    .footer__End p {
        color: white;
        text-align: center;
    }
